* 
  margin: 0
  padding: 0

body 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: arial,sans-serif
  font-size: 13px

.header
  display: flex;
  align-items: center
  height: 30px
  width: 100%
  margin-top: 16px
  vertical-align: middle
  a 
    text-decoration-line: none

.header-link
  text-decoration-line: none
  color: rgb(0, 0, 0)
  text-decoration-style: solid
  text-decoration-color: rgb(0 , 0, 0)
  &:hover
    text-decoration: underline;
    opacity: 0.75 

.header-left
  display: flex
  width: 100px
  justify-content: space-around
  margin-left: 10px
  .header-link
    opacity: 0.75

.header-right
  display: flex
  width: 220px
  justify-content: space-between
  align-items: center
  margin-left: auto
  padding-right: 30px

.apps-button
  display: inline-block;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  height: 30px
  width: 30px
  opacity: .55
  background: url(../img/apps-button.png) 
  background-position: -132px -38px
  background-size: 528px 68px
  cursor: pointer
  &:hover
    opacity: .85

.sign-in-button
  display: flex
  width: 70px
  height: 30px
  box-sizing: border-box
  align-items: center
  justify-content: center
  color: #fff !important
  opacity: 1 !important
  font-weight: bold
  border: 1px solid #4285f4
  border-radius: 2px
  background: #4584ED
  &:hover
    text-decoration: none;
    opacity: 0

.popover
  position: relative
  display: block
  visibility: hidden

.popover-content
  display: flex
  align-content: space-between
  flex-direction: column
  width: 320px
  height: 596px
  position: absolute
  left: -207px
  top: 15px
  border: 1px solid #ccc
  border-color: rgba(0,0,0,.2)
  border-radius: 2px
  box-shadow: 0 2px 10px rgba(0,0,0,.2)

.popover-arrow
  &-back
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    left: 6.5px;
    z-index: 1;
    height: 0;
    width: 0;
    border-bottom-color: rgba(0,0,0,.2);
    top: 6px;

  &-front
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    position: absolute;
    left: 6.5px;
    top: 7px;
    z-index: 1;
    height: 0;
    width: 0;

.visible
  visibility: visible

.list-apps
  display: flex
  align-content: center
  justify-content: space-between
  list-style: none
  padding: 28px;
  background: #fff
  flex-wrap: wrap
  li 
    height: 100px

.app-card
  display: block
  padding: 1px
  width: 86px
  box-sizing: border-box
  height: 86px
  &:hover
    outline: 1px rgb(229, 229, 229) solid
  
.app-icon
  margin: 0 auto
  height: 64px;
  width: 64px;
  background-image: url(../img/apps-icons.png)
  background-size: 64px 2410px
  
  &.account
    background-position-y: -69px
  &.search
    background-position-y: -69*24px
  &.maps
    background-position-y: -69*13px
  &.youtube
    background-position-y: -69*19px
  &.play
    background-position-y: -69*22px
  &.news
    background-position-y: -69*3px
  &.gmail
    background-position-y: -69*5px
  &.contacts
    background-position-y: -69*24px
  &.drive
    background-position-y: -69*21px
  &.calendar
    background-position-y: -69*18px
  &.google-plus
    background-position-y: -69*15px
  &.translate
    background-position-y: -69*10px
  &.photos
    background-position-y: -69*6px

.app-title
  height: 20px
  text-align: center
  color: rgba(0,0,0,0.87)
  text-decoration: none
  &:visited
    color: rgba(0,0,0,0.87);

.more-button
  display: flex
  align-items: center
  justify-content: center
  height: 40px
  color: rgba(0,0,0,0.87)
  background: #f5f5f5;
  cursor: pointer
  &:visited
    text-decoration: none

.main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  height: calc(100vh - 46px - 42px)
  width: 100%

.google-logo
  display: block
  height: 92px;
  width: 272px;
  margin-top: 152px;

.search-bar-wrapper
  display: flex
  align-items: center
  width: 584px
  height: 44px
  margin-top: 27px
  box-sizing: border-box
  padding: 2px
  padding-left: 16px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  &:hover
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
  &:focus-within
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);

.search-bar
  border: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 530px;
  outline: none;

.mic-logo
  height: 24px
  width: 54px
  cursor: pointer
  background: url(../img/mic.png) no-repeat;
  background-position: center; 
  background-size: 24px 24px;

.buttons-wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 584px
  height: 58px
  padding-top: 21px


.button
  display: flex
  align-items: center
  height: 36px;
  min-width: 54px;
  padding: 0 16px;
  box-sizing: border-box
  border-radius: 2px;
  margin: 0 4px;
  cursor: default
  color: #757575
  font-weight: bold;
  background-color: #f2f2f2;
  &:hover
    outline: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) 
    color: #222;
  
.footer
  display: flex
  justify-content: space-between
  height: 40px
  padding-right: 27px
  background: #f2f2f2;
  border: 1px solid rgb(228, 228, 228) 

.footer-link
  line-height: 40px;
  padding-left: 27px
  color: rgb(102, 102, 102)
  text-decoration: none
  &:hover
    text-decoration: underline;